<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Panel</title>
	<link rel='stylesheet' href='../public/css/bootstrap.min.css' type='text/css'>
	<link rel='stylesheet' href='../public/css/george.css' type='text/css'>
</head>
<body>
	<h2 class="text-center">Panel de control</h2>
	<section class="" style="width: 70%;margin: 20px auto 100px auto">
		<a href="#" class="btn btn-primary" style="width: 100px;height: 100px;margin: 20px">
			<div style="height: 80%;padding-top:10px ">
				<i class="glyphicon glyphicon-list-alt  " style="font-size:5rem"></i>
			</div>
			<div>
				Cliente
			</div>
		</a>
		<a href="" class="btn btn-primary" style="width: 100px;height: 100px;margin: 20px">
			<div style="height: 80%;padding-top:10px ">
				<i class="glyphicon glyphicon-list-alt  " style="font-size:5rem"></i>
			</div>
			<div>
				Cliente
			</div>
		</a>
		<a href="" class="btn btn-primary" style="width: 100px;height: 100px;margin: 20px">
			<div style="height: 80%;padding-top:10px ">
				<i class="glyphicon glyphicon-list-alt  " style="font-size:5rem"></i>
			</div>
			<div>
				Cliente
			</div>
		</a>
		<a href="" class="btn btn-primary" style="width: 100px;height: 100px;margin: 20px">
			<div style="height: 80%;padding-top:10px ">
				<i class="glyphicon glyphicon-list-alt  " style="font-size:5rem"></i>
			</div>
			<div>
				Cliente
			</div>
		</a>
		<a href="" class="btn btn-primary" style="width: 100px;height: 100px;margin: 20px">
			<div style="height: 80%;padding-top:10px ">
				<i class="glyphicon glyphicon-list-alt  " style="font-size:5rem"></i>
			</div>
			<div>
				Cliente
			</div>
		</a>


	</section>
	<script src='../public/js/jquery-1.12.3.min.js'></script>
	<script src='../public/js/bootstrap.min.js'></script>
	<script src='../public/peticiones/peticiones.js'></script>
</body>
</html>